
<div class="container">
	<div class="row">
		<div class="offset-md-1">
			<input type="text" name="user"  [(ngModel)]="title">

			<button  >Submit</button>
			<p *ngIf="title != ''" >{{title}} ==> {{ title | change }}</p>
			
		</div>
	</div>
</div>

